{# src/UserBundle/Resources/views/liste_proches.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Liste de mes proches
{% endblock %}


{% block fos_user_content %}
	<h2> Liste de mes proches </h2>
	<br/>
	<ul>
		{% for individu in liste_indiv %}
			<li>

				{{ individu.getNomComplet }} 
				<br/>

				{% if individu.dateNaissance and individu.datedeces %} 

					{% if individu.genre == 'Masculin' %}
						né le {{ individu.dateNaissance|date("d/m/Y") }} - décédé le {{ individu.datedeces|date("d/m/Y") }}
					{% elseif individu.genre == 'Feminin' %}
						née le {{ individu.dateNaissance|date("d/m/Y") }} - décédée le {{ individu.datedeces|date("d/m/Y") }}
					{% else %}
						né(e) le {{ individu.dateNaissance|date("d/m/Y") }} - décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					{% endif %}

					<br/>
						<a href= "http://projet-genealogie/app_dev.php/infos_proche/{{individu.id}}" class="btn">
						Voir les <br/> informations </a>
						<a href= "http://projet-genealogie/app_dev.php/liste_patho_proche/{{individu.id}}" class="btn">
						Voir les <br/> pathologies </a>
						<a href= "http://projet-genealogie/app_dev.php/suppr_proche/{{individu.id}}" class="btn"> 
						Supprimer ce <br/> proche </a>
				
				{% elseif individu.dateNaissance %} 

					{% if individu.genre == 'Masculin' %}
						né le {{ individu.dateNaissance|date("d/m/Y") }}
					{% elseif individu.genre == 'Feminin' %}
						née le {{ individu.dateNaissance|date("d/m/Y") }}
					{% else %}
						né(e) le {{ individu.dateNaissance|date("d/m/Y") }}
					{% endif %}

					<br/>
						<a href= "http://projet-genealogie/app_dev.php/infos_proche/{{individu.id}}" class="btn">
						Voir les <br/> informations </a>
						<a href= "http://projet-genealogie/app_dev.php/liste_patho_proche/{{individu.id}}" class="btn">
						Voir les <br/> pathologies </a>
						<a href= "http://projet-genealogie/app_dev.php/suppr_proche/{{individu.id}}" class="btn"> 
						Supprimer ce <br/> proche </a>
				
				{% elseif individu.datedeces %}
					
					{% if individu.genre == 'Masculin' %}
						décédé le {{ individu.datedeces|date("d/m/Y") }}
					{% elseif individu.genre == 'Feminin' %}
						décédée le {{ individu.datedeces|date("d/m/Y") }}
					{% else %}
						décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					{% endif %}

					<br/>
						<a href= "http://projet-genealogie/app_dev.php/infos_proche/{{individu.id}}" class="btn">
						Voir les <br/> informations </a>
						<a href= "http://projet-genealogie/app_dev.php/liste_patho_proche/{{individu.id}}" class="btn">
						Voir les <br/> pathologies </a>
						<a href= "http://projet-genealogie/app_dev.php/suppr_proche/{{individu.id}}" class="btn"> 
						Supprimer ce <br/> proche </a>
				
				{% else %}
					
					-
					
					<br/>
						<a href= "http://projet-genealogie/app_dev.php/infos_proche/{{individu.id}}" class="btn">
						Voir les <br/> informations </a>
						<a href= "http://projet-genealogie/app_dev.php/liste_patho_proche/{{individu.id}}" class="btn">
						Voir les <br/> pathologies </a>
						<a href= "http://projet-genealogie/app_dev.php/suppr_proche/{{individu.id}}" class="btn"> 
						Supprimer ce <br/> proche </a>

				{%endif%}
			</li>
		{% endfor %}
	</ul>
{% endblock %} 