{# src/UserBundle/Resources/views/liste_patho_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Liste des pathologies de {{ }} </h2>
	
	<ul>
	
		{% for individu in liste_indiv %}
			<li>
				{{ individu.nom }} {{ individu.prenom }}
				<br/>
				{% if individu.dateNaissance and individu.datedeces %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }} - décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modif_proche') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_modif_relation') }}" class="btn"> Modifier les <br/> relations </a>
						<a href= "{{ path('user_liste_patho_proche') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_suppr_proche') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% elseif individu.dateNaissance %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modif_proche') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_modif_relation') }}" class="btn"> Modifier les <br/> relations </a>
						<a href= "{{ path('user_liste_patho_proche') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_suppr_proche') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% elseif individu.datedeces %}
					décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modif_proche') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_modif_relation') }}" class="btn"> Modifier les <br/> relations </a>
						<a href= "{{ path('user_liste_patho_proche') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_suppr_proche') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% else %}
					<br/>
						<a href= "{{ path('user_modif_proche') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_modif_relation') }}" class="btn"> Modifier les <br/> relations </a>
						<a href= "{{ path('user_liste_patho_proche') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_suppr_proche') }}" class="btn"> Supprimer ce <br/> proche </a>
				{%endif%}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
