{# src/UserBundle/Resources/views/modifier.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Liste de mes proches </h2>
	
	<ul>
	
		{% for individu in liste_indiv %}
			<li>
				{{ individu.nom }} {{ individu.prenom }}
				<br/>
				{% if individu.dateNaissance and individu.datedeces %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }} - décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
				{% elseif individu.dateNaissance %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }}
				{% elseif individu.datedeces %}
					décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
				{% else %}
					<p></p>
				{%endif%}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
