{# src/UserBundle/Resources/views/liste_patho_proches.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
    Toutes les pathologies
{% endblock %}


{% block fos_user_content %}
    <h2> Liste des pathologies de ma famille </h2>
    <br/>

    <ul>

        {% for pathologie in listePathologies %}
            {% if pathologie.BanquePatho %}
                <li>

                    {{ pathologie.BanquePatho }} -
                    {% for individu in liste_indiv %}
                        {% if individu.getId == pathologie.getIndividuInt %}
                            {{individu.getNomComplet}}
                       {% endif %}
                    {% endfor %}
                    <br/>

                    {% if pathologie.dateDebut and pathologie.dateFin %}
                        Du {{pathologie.dateDebut|date("d/m/Y")}} au {{pathologie.dateFin|date("d/m/Y")}}
                    {% elseif pathologie.dateDebut %}
                        Depuis le {{pathologie.dateDebut|date("d/m/Y")}}
                    {% elseif pathologie.dateFin %}
                        Jusqu'au {{pathologie.dateFin|date("d/m/Y")}}
                    {% else %}
                        Pas de dates
                    {% endif %}
                    {% if pathologie.causeDeces %}
                        - cause de décès
                    {% endif %}
                    <br/>

                    {% if pathologie.commentairePatho %}
                        {{ pathologie.commentairePatho }}
                        <br/>
                    {% endif %}

                </li>
                <br/> 

            {% endif %}

        {% endfor %}

    </ul>

{% endblock %}