{# src/UserBundle/Resources/views/User/menu.html.twig #}

{# Ce template n'herite de personne, tout comme le template inclus avec {% include %}. #}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<p><a href= "{{ path('user_connected_index') }}" > Accueil </a></p>
	<br/>
	<h3> Mes proches</h3>
	<br/>
	<ul class="nav nav-pills nav-stacked">
		<li><a href= "{{ path('user_ajout_proche') }}" > Ajouter un proche </a></li>
		<li><a href= "{{ path('user_liste_proches') }}">  Lister mes proches </a></li>
		<li><a href= "{{ path('user_liste_patho_proches') }}" > Les pathologies de ma famille </a></li>
	</ul>
	<br/>
	<h3> Mon compte </h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="http://projet-genealogie/app_dev.php/profile"> Mes informations </a></li>
		<li><a href="http://projet-genealogie/app_dev.php/profile/edit"> Modifier mes informations </a></li>
		<li><a href="http://projet-genealogie/app_dev.php/profile/change-password"> Modifier mon mot de passe </a></li> 
		<li><a href="http://projet-genealogie/app_dev.php/logout"> Déconnexion </a></li>	
	</ul>
	
	  {% if is_granted('ROLE_ADMIN') %} 
		<h3> Administration </h3>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="{{ path('admin_lister_patho') }}"> Lister les pathologies </a></li>
			<li><a href="{{ path('admin_ajouter_patho') }}"> Ajouter une pathologie </a></li>
			<li><a href="{{ path('admin_supprimer_patho') }}"> Supprimer une pathologie </a></li>
		</ul>
	  {% endif %} 
    
    <p><a href= "{{ path('user_nous_contacter_2') }}"> Nous contacter</a> </p>
	<p><a href= "{{path('supprimer_compte_1')}}"> Supprimer mon compte </a> </p>
{% else %}
	<ul class="nav nav-pills nav-stacked">
		<li><a href="http://projet-genealogie/app_dev.php/register/"> Inscription </a></li>
		<li><a href="http://projet-genealogie/app_dev.php/login"> Connexion </a></li>
	</ul>
	<p><a href= "{{ path('user_nous_contacter_1') }}"> Nous contacter</a> </p>
{% endif %}
