{# src/UserBundle/Resources/views/suppr_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Supprimer {{individu.getNomComplet}}
{% endblock %}

{% block fos_user_content %}
	<h2> Supprimer le proche "{{individu.getNomComplet}}" </h2>
	<br/>
	<p> Etes-vous certain de vouloir supprimer le proche "{{ individu.getNomComplet }}" ? </p> {#"" #}
	<form action="{{ path('user_suppr_proche', {'id_indiv': id_indiv}) }}" method="post">
		<a href="{{ path('user_liste_proches') }}" class="btn btn-default">
			<i class="icon-chevron-left"></i>  Retour à la liste des proches </a>
		<input type="submit" value="Supprimer" class="btn btn-danger" /> 
		{{ form_rest(form) }}
	</form>
{% endblock %}