{# src/UserBundle/Resources/views/suppr_proche_valider.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Supprimer le proche
{% endblock %}

{% block fos_user_content %}
	<h2> Supprimer le proche "{{id_indiv}}" </h2>
	<br/>
	<p> Etes-vous certain de vouloir supprimer l'annonce "{{ individu.getNomComplet }}" ? </p>
	<form action="{{ path('user_suppr_proche', {'id_indiv': id_indiv}) }}" method="post">
		<a href="{{ path('user_liste_proches' }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste des proches </a>
		<input type="submit" value="Supprimer" class="btn btn-danger" />
		{{ form_rest(form) }}
	</form>
{% endblock %}