{# src/UserBundle/Resources/views/modifier.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Liste de mes proches </h2>
	
	<ul>
	
		{% for individu in liste_indiv %}
			<li>
				{{ individu.nom }} {{ individu.prenom }}
				<br/>
				{% if individu.dateNaissance and individu.datedeces %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }} - décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modifier_infos_individu') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_choix_patho_modifier') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_supprimer_infos_individu') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% elseif individu.dateNaissance %} 
					né(e) le {{ individu.dateNaissance|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modifier_infos_individu') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_choix_patho_modifier') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_supprimer_infos_individu') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% elseif individu.datedeces %}
					décédé(e) le {{ individu.datedeces|date("d/m/Y") }}
					<br/>
						<a href= "{{ path('user_modifier_infos_individu') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_choix_patho_modifier') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_supprimer_infos_individu') }}" class="btn"> Supprimer ce <br/> proche </a>
				{% else %}
					<br/>
						<a href= "{{ path('user_modifier_infos_individu') }}" class="btn"> Modifier les <br/> informations </a>
						<a href= "{{ path('user_choix_patho_modifier') }}" class="btn"> Voir les <br/> pathologies </a>
						<a href= "{{ path('user_supprimer_infos_individu') }}" class="btn"> Supprimer ce <br/> proche </a>
				{%endif%}
			</li>
		{% endfor %}
	</ul>
{% endblock %}



{#<p> 
		<a href= "{{ path('user_connected_index') }}" class="btn">
			Retour
		</a>
		
		<a href= "{{ path('supprimer_compte_2') }}" class="btn">
			Valider et supprimer mon compte
		</a>
	</p>#}
